<div class="navbar bg-boatwatch no-border ">
    	<div class="navbar-inner">
    	  	<div class="left">
            	<a href="#" class="link backToIndex "> <i class="f7-icons" >chevron_left</i></a>
            </div>
    		<div class="center sliding  ">{{Name}}</div>
    		<div class="right sliding">    			
    			
    			<a href="#" class="link saveAlarm"><i class="f7-icons icon-header-apply"></i></a>
    		</div>

    		<div class="subnavbar">
            	<div class="buttons-row">
			        <a href="#" class="button tab-link " data-id="asset.status" data-href="resources/templates/asset.status.html">
			            <span class="tabbar-label"><b>{{@global.LANGUAGE.ASSET_STATUS_MSG07}}</b></span>
			        </a>
			        <a href="#" class="button tab-link active" data-id="asset.alarm" data-href="">
		                <span class="tabbar-label"><b>{{@global.LANGUAGE.ALARM_MSG01}}</b></span>
		            </a>
			        <a href="#" class="button tab-link" data-id="asset.playback" data-href="resources/templates/asset.playback.html">
			            <span class="tabbar-label"><b>{{@global.LANGUAGE.ASSET_STATUS_MSG08}}</b></span>
			        </a>
			        <a href="#" class="button tab-link" data-id="asset.track" data-href="resources/templates/asset.track.html">
			            <span class="tabbar-label"><b>{{@global.LANGUAGE.ASSET_STATUS_MSG09}}</b></span>
			        </a>
		            
			        
			    </div>
			</div>

    	</div>
  	</div>
  	
<div class="pages">

	<div class="page with-subnavbar alarm_page" data-page="asset.alarm">
		
	  	<div class="page-content">

	  		<div class="list-block no-hairlines  media-list alarm_list">
		      	<ul>
		      		<li class="item-divider alarm-radio-caption"><span class="color-gray">{{@global.LANGUAGE.COM_MSG39}}</span><span class="color-green ">{{@global.LANGUAGE.COM_MSG40}}</span></li>
		      		<li class="item-content">                       
                        <div class="item-inner"> 
                            <div class="item-title-row">
                                <div class="item-title">{{@global.LANGUAGE.ALARM_MSG02}}</div>
                                <div class="item-after align-items-center no-fastclick">
                                	<span class="custom-radio-wrapper color-gray">
                                		<input type="radio" name="radio-bilge" value="131072" {{#unless bilge}} checked="checked"{{/unless}}>
                                	</span>
									<span class="custom-radio-wrapper color-green">
										<input type="radio" name="radio-bilge" value="0"  {{#if bilge}}checked="checked"{{/if}}>
									</span>
									
                                </div>
                            </div>                        
                        </div>
                    </li> 
                    <li class="item-content">                       
                        <div class="item-inner"> 
                            <div class="item-title-row">
                                <div class="item-title">{{@global.LANGUAGE.ALARM_MSG25}}</div>
                                <div class="item-after align-items-center no-fastclick">
                                	<span class="custom-radio-wrapper color-gray">
                                		<input type="radio" name="radio-input1Low" value="524288" {{#unless input1Low}} checked="checked"{{/unless}}>
                                	</span>
									<span class="custom-radio-wrapper color-green">
										<input type="radio" name="radio-input1Low" value="0"  {{#if input1Low}}checked="checked"{{/if}}>
									</span>
									
                                </div>
                            </div>                        
                        </div>
                    </li> 
                    <li class="item-content">                       
                        <div class="item-inner"> 
                            <div class="item-title-row">
                                <div class="item-title">{{@global.LANGUAGE.ALARM_MSG17}}</div>
                                <div class="item-after align-items-center no-fastclick">
                                	<span class="custom-radio-wrapper color-gray">
                                		<input type="radio" name="radio-lowBattery" value="512" {{#unless lowBattery}} checked="checked"{{/unless}}>
                                	</span>
									<span class="custom-radio-wrapper color-green">
										<input type="radio" name="radio-lowBattery" value="0"  {{#if lowBattery}}checked="checked"{{/if}}>
									</span>
									
                                </div>
                            </div>                        
                        </div>
                    </li> 
                    <li class="item-content">                       
                        <div class="item-inner"> 
                            <div class="item-title-row">
                                <div class="item-title">{{@global.LANGUAGE.ALARM_MSG05}}</div>
                                <div class="item-after align-items-center no-fastclick">
                                	<span class="custom-radio-wrapper color-gray">
                                		<input type="radio" name="radio-geolock" value="1048" {{#unless geolock}} checked="checked"{{/unless}}>
                                	</span>
									<span class="custom-radio-wrapper color-green">
										<input type="radio" name="radio-geolock" value="0"  {{#if geolock}}checked="checked"{{/if}}>
									</span>
									
                                </div>
                            </div>                        
                        </div>
                    </li> 
                    <li class="item-content">                       
                        <div class="item-inner"> 
                            <div class="item-title-row">
                                <div class="item-title">{{@global.LANGUAGE.ALARM_MSG10}}</div>
                                <div class="item-after align-items-center no-fastclick">
                                	<span class="custom-radio-wrapper color-gray">
                                		<input type="radio" name="radio-accOff" value="65536" {{#unless accOff}} checked="checked"{{/unless}}>
                                	</span>
									<span class="custom-radio-wrapper color-green">
										<input type="radio" name="radio-accOff" value="0"  {{#if accOff}}checked="checked"{{/if}}>
									</span>
									
                                </div>
                            </div>                        
                        </div>
                    </li> 
                    <li class="item-content">                       
                        <div class="item-inner"> 
                            <div class="item-title-row">
                                <div class="item-title">{{@global.LANGUAGE.ALARM_MSG11}}</div>
                                <div class="item-after align-items-center no-fastclick">
                                	<span class="custom-radio-wrapper color-gray">
                                		<input type="radio" name="radio-accOn" value="32768" {{#unless accOn}} checked="checked"{{/unless}}>
                                	</span>
									<span class="custom-radio-wrapper color-green">
										<input type="radio" name="radio-accOn" value="0"  {{#if accOn}}checked="checked"{{/if}}>
									</span>
									
                                </div>
                            </div>                        
                        </div>
                    </li> 
                    <li class="item-content">                       
                        <div class="item-inner"> 
                            <div class="item-title-row">
                                <div class="item-title">{{@global.LANGUAGE.ALARM_MSG03}}</div>
                                <div class="item-after align-items-center no-fastclick">
                                	<span class="custom-radio-wrapper color-gray">
                                		<input type="radio" name="radio-power" value="4" {{#unless power}} checked="checked"{{/unless}}>
                                	</span>
									<span class="custom-radio-wrapper color-green">
										<input type="radio" name="radio-power" value="0"  {{#if power}}checked="checked"{{/if}}>
									</span>
									
                                </div>
                            </div>                        
                        </div>
                    </li> 

			              
		      	</ul>	     
		    </div>
	  		
	  		<div class="content-block">
	            <a href="tel:1300885461" target="_blank" class="external button button-fill button-big bg-boatwatch call-button">
	                <i class="f7-icons icon-other-call"></i>
	                {{@global.LANGUAGE.MENU_MSG11}}
	            </a>
	        </div>

	  		
	  	</div>
		
	</div>
</div>
